---
import BaseLayout from "@layouts/BaseLayout.astro";
import { useTranslations } from "@i18n/utils";

const t = useTranslations("en");
---

<BaseLayout
	title={t("privacy.title")}
	description={t("privacy.description")}
>
	<div class="section">
		<div class="prose-styles col-span-12">
			<h1>{t("privacy.title")}</h1>
			<p><em>{t("privacy.lastUpdated")}</em></p>

			<h2>{t("privacy.introduction.title")}</h2>
			<p>{t("privacy.introduction.content")}</p>

			<h2>{t("privacy.dataCollected.title")}</h2>
			<p set:html={t("privacy.dataCollected.content")} />
		</div>
	</div>
</BaseLayout>